<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>太和生技集团</title>
    <title>RWD WEB</title>
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css" media="screen">
    <link href="stylesheets/main-mid.css" rel="stylesheet" type="text/css" media="screen and (max-width: 750px)">
    <link href="stylesheets/main-mobile.css" rel="stylesheet" type="text/css" media="screen and (max-width: 640px)">
    <link href="stylesheets/slicknav.css" rel="stylesheet" type="text/css" media="screen and (max-width: 640px)">
    <script src="javascripts/modernizr-min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/component.css" />
    <script src="javascripts/jquery.js"></script>

</head>

<body>
    <header id="header">
        <div class="head-main">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png"></a>
            </div>
            <nav id="nav" class="b-color">
                <ul id="menu" class="menu clearfix">
                    <a href="index.html"><img src="images/icon_home_w.png" width="48" height="48" class="home_w" /></a>
                    <li>
                        <span class="language clearfix">
<a href="http://www.lafantcy.com/" target="_blank">设为首页</a>
<a href="#">加入收藏</a>
<select name="select" id="select" class="group">
<option selected>中文简体</option>
<option>中文繁体</option>
<option>ENGLISH</option>
</select>
</span>
                    </li>
                </ul>
            </nav>
            <div class="head-tool">
                <a href="http://www.lafantcy.com/" target="_blank">设为首页</a>|
                <a href="#">加入收藏</a>|
                <select name="select" id="select" class="group">
<option selected>中文简体</option>
<option>中文繁体</option>
<option>ENGLISH</option>
</select>
            </div>
        </div>
    </header>

    <script src="javascripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <link rel="stylesheet" href="stylesheets/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/default.css" type="text/css" media="screen" />
    <div class="edm-top"><img src="images/edm-top.png">
    </div>

    <div class="warpper">
        <div class="main clearfix">
            <div class="i-block-extend clearfix">
                <div class="i-block">
                    <ul>
                        <li>
                            <a href="about.html">
                                <img src="images/woman001.jpg">
                            </a>
                            <h2>
<a href="about.html">
<div class="title-c">
常用功能
</div>
<div class="title-e">
Common Function
</div>
</a>
</h2>
                        </li>
                        <li>
                            <a href="service.html">
                                <img src="images/woman002.jpg">
                            </a>
                            <h2>
<a href="service.html">
<div class="title-c">
資源下載
</div>
<div class="title-e">
Common Resource Download
</div>
</a>
</h2>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="images/woman003.jpg">
                            </a>
                            <h2>
<a href="contact.html">
<div class="title-c">
个人行政
</div>
<div class="title-e">
Personal Administrative Service
</div>
</a>
</h2>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="images/woman004.jpg">
                            </a>
                            <h2>
<a href="contact.html">
<div class="title-c">
个人工作
</div>
<div class="title-e">
Personal Work Service
</div>
</a>
</h2>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="images/woman005.jpg">
                            </a>
                            <h2>
<a href="contact.html">
<div class="title-c">
公司行政
</div>
<div class="title-e">
Corporate Administrative Services
</div>
</a>
</h2>
                        </li>
                        <li>
                            <a href="contact.html">
                                <img src="images/woman006.jpg">
                            </a>
                            <h2>
<a href="contact.html">
<div class="title-c">
公司工作
</div>

<div class="title-e">
Company Service
</div>
</a>

</h2>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="i-link title-c title-e">
                <div class="friendlylink">
                    <h3> 友情链接</h3>
                </div>
                <ul>
                    <li>
                        <a href="contact.html "><img src="images/link02.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link03.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link04.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link05.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link06.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link07.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link07.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link07.jpg " /></a>
                    </li>
                    <li>
                        <a href="contact.html "><img src="images/link07.jpg " /></a>
                    </li>
                </ul>
            </div>

        </div>

            <div class="warpper-bg">
                <img src="images/footer-top.png">
            </div>

        <script src="javascripts/jquery.slicknav.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#menu').slicknav();
            });
        </script>
</body>
<!-- InstanceEnd -->
</html>
