@charset "utf-8";
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "微軟正黑體";
	font-size: 15px;
	line-height: 22px;
}
html {
	width: 100%;
	height: 100%;
}

.warpper {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.warpper-bg {
	position: relative;
	height: 65px;
	z-index: 99999;
}
.warpper-bg img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 65px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}/* End hide from IE-mac */
a {
	text-decoration: none;
}
img {
	border: 0;
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
.slicknav_menu {
	display: none;
}
input.select-box {
	border: 1px #CBCBCB solid;
	padding: 5px 3%;
	width: 20px;
	height: 20px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

/*** padding and border no width ****/
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

/***** 表單預設文字顏色設定 *****/
/* 通用 */
::-webkit-input-placeholder {
	color: #333;
}
::-moz-placeholder {
	color: #333;
}/* firefox 19+ */
:-ms-input-placeholder {
	color: #333;
}/* ie */
input:-moz-placeholder {
	color: #333;
}

/* webkit专用 */
#field2::-webkit-input-placeholder {
	color: #333;
}
#field3::-webkit-input-placeholder {
	color: #333;
	background: lightgreen;
	text-transform: uppercase;
}
#field4::-webkit-input-placeholder {
	font-style: italic;
	text-decoration: overline;
	letter-spacing: 3px;
	color: #333;
}

/* mozilla专用 */
#field2::-moz-placeholder {
	color: #333;
}
#field3::-moz-placeholder {
	color: #333;
	background: lightgreen;
	text-transform: uppercase;
}
#field4::-moz-placeholder {
	font-style: italic;
	text-decoration: overline;
	letter-spacing: 3px;
	color: #999;
}

header {
	border-top: 9px #b2b2b2 solid;
	background: #fff;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.head-main {
	max-width: 1000px;
	margin: 0 auto;
	height: 100px;
	padding: 0;
	position: relative;
}
.head-tool {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 5px 5px;
	text-align: center;
	background: #b2b2b2;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	padding: 0 6px 4px 8px;
}
.head-tool a {
	color: #fff;
}
.head-tool a:hover {
	color: #1e1b00;
}
.head-tool .group {
	border: none;
	background: #fff;
	font-size: 14px;
	color: #252525;
	font-family: 微軟正黑體;
	margin: 0 3px 0 7px;
}

.home {
	display: block;
	position: absolute;
	top: -35px;
	right: 0px;
	width: 25px;
	height: auto;
}
.home_w {
	display: none;
}

.head-tool-m {
	display: none;
}

.banner {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.banner img {
	vertical-align: middle;
	width: 100%;
	height: auto;
	position: absolute;
}

h3.login-title {
	margin: 0 0 10px 0;
	font-family: "Times New Roman";
	font-size: 24px;
	line-height: 30px;
	color: #9B9B9B;
}
.login-tool {
}
.icon-tool {
	width: 40px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.edm-top {
	position: relative;
	height: 0px;
	z-index: 99999;
}
.edm-top img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
}
.edm-bottom {
	display: block;
	position: relative;
	height: 79px;
	z-index: 99999;
}

.edm-bottom img {
	position: absolute;
	bottom: 54px;
	width: 100%;
	height: 79px;
}

/***  選單與下拉  ***/
nav {
	position: absolute;
	top: 45px;
	right: 0;
}
.menu {
	width: 580px;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	text-align: center;
}
.menu > li {
	float: left;
	padding: 0 10px;
	font-size: 15px;
	text-align: center;
	position: relative;
	line-height: 24px;
	font-weight: bold;
}
.menu > li > a {
	color: #333333;
	font-size: 17px;
}
.menu > li > a:hover {
	background: none;
	border-bottom: 3px #b7b2ac solid;
	padding: 0 0 2px 0;
}
.menu > li span {
	display: none;
}
.menu > li span a.language {
	float: left;
	width: 33%;
}

@media screen and (max-width: 840px) {
	.menu {
		width: 480px;
	}
	.menu > li {
		padding: 0 6px;
	}
}

/** 首頁區塊 **/
.i-block-extend {
	padding: 0 0 30px 0
}
.i-block {
	max-width: 1000px;
	margin: 0 auto;
}
.i-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.i-block ul li {
	float: left;
	width: 31.33%;
	margin: 1%;
	padding: 0;
}
.i-block ul li img {
	width: 100%;
	border-radius: 5px;
}
.i-block ul li h2 {
	border: 1px #c5c1bd solid;
	border-radius: 5px;
	padding: 10px 10px 5px 10px;
	text-align: center;
	box-shadow: 0 5px 0 0 #a2a3a3;
	line-height: 22px;
	font-weight: normal;
	margin: 10px 0;
	background: #fff;
}

.i-block ul li h2 .title-c {
	font-size: 22px;
	color: #272727;
	letter-spacing: 1px;
}
.i-block ul li h2 .title-e {
	font-size: 14px;
	color: #339b00;
	letter-spacing: 1px;
}

/***** 訂單列表  *****/

.order-search {
	padding-left: 30px;
}
.order-list {
	padding-left: 30px;
}
.order-list td {
	text-align: center;
	font-size: 12px;
	line-height: 1.5em;
	padding: 5px 10px;
	border-bottom: 1px #CCC dotted;
	border-right: 1px #CCC dotted;
}
.order-list img.pro-photo {
	width: 90px;
	height: 90px;
	padding: 10px;
	border: 1px #CCC solid;
}
.order-list .order-list-th {
	font-size: 15px;
	color: #FFF;
	text-align: center;
	line-height: 25px;
}
.order-list .order-list-td {
	font-size: 15px;
	color: #333;
	text-align: center;
}
.order-list .price {
	font-size: 15px;
	color: #900;
}
.order-list .numb {
	font-size: 15px;
	color: #788BAC;
	text-align: left;
}
.order-list .numb a {
	color: #788BAC;
}
.order-list .count {
	font-size: 15px;
	color: #333;
}
.order-list .count-portal {
	padding: 10px 0;
	border-bottom: 1px #CCC dotted;
	margin-bottom: 20px;
}
.count-price {
	font-size: 24px;
	font-family: Verdana;
	color: #900;
	font-weight: bold;
}
.order-list .portal {
	display: block;
	width: 200px;
	font-size: 15px;
	color: #900;
	float: right;
	text-align: right;
}
.order-list .freight {
	display: block;
	width: 150px;
	font-size: 15px;
	color: #900;
	float: right;
	text-align: right;
}
.oproject {
	display: none;
	color: #900;
}

ul.order-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.order-list li {
	border-bottom: 1px #CCC dotted;
	padding: 5px 0;
}
ul.order-list li:nth-child(odd) {
	background: #F5F5F5;
}
ul.order-list li.th {
	background: #666;
	color: #fff;
	text-shadow: -1px -1px 0 #333;
	padding: 3px 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	border: 0;
}
.th .order-list-img, .th .order-list-name, .th .order-list-price, .th .order-list-quantity, .th .order-list-subtotal, .th .order-list-del {
	padding-top: 5PX;
}

.order-list-img {
	float: left;
	width: 10%;
	display: table-cell;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.order-list-img02 {
	float: left;
	width: 10%;
	display: table-cell;
	font-size: 15px;
	padding-top: 5px;
	vertical-align: middle;
	text-align: center;
}
.sorder-list-img img {
	width: 90px;
	height: auto;
	padding: 5%;
	border: 1px #CCC solid;
	margin: 5%;
	text-align: center;
}

.order-list-del a {
	color: #fff;
	padding: 3px 10px;
	line-height: 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

.order-list-del a:hover {
	background: rgb(255,48,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.order-ditaile-info {
	padding: 0 0 0 40px;
	font-size: 15px;
	color: #333;
	line-height: 1.5em;
}
.jump-window-box {
	max-width: 500px;
	margin: 0 auto;
	border: 1px #CCC solid;
	padding: 20px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*** 會員登入  ***/
.member-login-box {
	max-width: 500px;
	margin: 0 auto;
	border: 1px #CCC solid;
	padding: 20px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*****  購物車  *****/
.cart-body {
	max-width: 1000px;
	margin: 0 auto;
}
.shopping-car {
	padding-left: 30px;
}
th.shopping-car-th {
	background: #69C;
	font-size: 15px;
	color: #FFF;
	text-align: center;
	line-height: 25px;
	border-right: 1px #fff dotted;
}
.shopping-car td {
	text-align: center;
	font-size: 12px;
	line-height: 1.5em;
	padding: 5px 10px;
	border-bottom: 1px #CCC dotted;
	border-right: 1px #CCC dotted;
}
.shopping-car img.pro-photo {
	width: 90px;
	height: 90px;
	padding: 10px;
	border: 1px #CCC solid;
}
.shopping-car .pro-name {
	font-size: 15px;
	color: #333;
	text-align: left;
}
.shopping-car .price {
	font-size: 15px;
	color: #900;
}
.shopping-car .numb {
	font-size: 15px;
	color: #66F;
}
.shopping-car .count {
	font-size: 15px;
	color: #333;
}
.shopping-car .count-portal {
	padding: 10px 0;
	border-bottom: 1px #CCC dotted;
	margin-bottom: 20px;
}
.count-price {
	font-size: 24px;
	font-family: Verdana;
	color: #900;
	font-weight: bold;
}
.shopping-car .portal {
	display: block;
	width: 200px;
	font-size: 15px;
	color: #900;
	float: right;
	text-align: right;
}
.shopping-car .freight {
	display: block;
	width: 150px;
	font-size: 15px;
	color: #900;
	float: right;
	text-align: right;
}

ul.shopping-car-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.shopping-car-list li {
	border-bottom: 1px #CCC dotted;
	padding: 5px 0;
}
ul.shopping-car-list li.th {
	background: #777;
	color: #fff;
	text-shadow: -1px -1px 0 #393939;
	min-height: 0px;
	padding: 5px 0;
	border: 0;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.th .shop-car-img, .th .shop-car-name, .th .shop-car-price, .th .shop-car-quantity, .th .shop-car-subtotal, .th .shop-car-del {
	padding-top: 5PX;
}

.shop-car-img {
	display: table-cell;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-img img {
	width: 90px;
	height: auto;
	padding: 5%;
	border: 1px #CCC solid;
	margin: 5%;
	text-align: center;
}
.shop-car-name {
	display: table-cell;
	padding-top: 50PX;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-price {
	display: table-cell;
	padding-top: 50PX;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-quantity {
	display: table-cell;
	padding-top: 50PX;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-subtotal {
	display: table-cell;
	padding-top: 50PX;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-del {
	display: table-cell;
	padding-top: 50PX;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
}
.shop-car-del a {
	color: #fff;
	padding: 3px 10px;
	line-height: 1.5em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
.shop-car-del a:hover {
	background: rgb(255,48,25); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.shopping-car .oproject {
	font-size: 15px;
	color: #000;
	display: none;
	font-weight: bold;
}

.checkout-box {
	background: #eee;
	padding: 10px;
	margin-left: 30px;
	border-bottom: 2px #FFF dotted;
}
.checkout-box h3 {
	background: #999;
	border-left: 5px #333 solid;
	font-size: 18px;
	color: #fff;
	text-shadow: -1px -1px 0 #666;
	line-height: 30px;
	padding-left: 20px;
	font-weight: 500;
}
.check-box {
	padding: 5px;
	font-size: 15px;
	color: #000;
}
.check-box a {
	color: #000;
}
.check-box a:hover {
	color: #960;
}

.appointment {
	max-width: 600px;
	margin: 0 auto;
}
.appointment-title {
	text-align: center;
}

/*****  產品專區  *****/
.search {
	padding: 0 10px;
}
.search-input {
	padding: 10px 0;
	position: relative;
}
.search-input img {
	position: absolute;
	right: 0;
	top: 10px;
}
.search input {
	background: #e8d5d5;
	font-size: 15px;
	color: #737946;
	padding: 5px 0 5px 5%;
	line-height: 31px;
	height: 31px;
	width: 85%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border: 0;
	margin: 0 10% 0 0;
	right: 70px;
	vertical-align: middle;
}
.search img {
	vertical-align: middle;
}

.pro-store-info {
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
	padding: 1%;
	border-bottom: 1px #CCC dotted;
	margin-bottom: 20px;
}
.pro-search-info {
	font-size: 18px;
	color: #64691F;
	line-height: 1.5em;
	border-bottom: 1px #CCC dotted;
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 10px;
}

.pro-list {
	clear: both;
}
.pro-list ul {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	clear: both;
}
.pro-list ul li {
	width: 23%;
	padding: 1%;
	text-align: center;
	float: left;
	background: #f8f6f6;
	margin: 1%;
}
.pro-list ul li:hover {
	background: #EEE;
}
.pro-list ul li h4 {
	font-size: 15px;
	color: #504f4d;
	line-height: 1.5em;
	font-weight: normal;
	padding: 5px 0 5px 0;
	margin: 0;
}

.pro-photo {
	background: #fff;
	width: 100%;
	vertical-align: middle;
	position: relative;
}
.pro-photo img {
	width: 100%;
}
.pro-photo img.index-pro-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left: 50%;
}

.pro-list ul li .index-pro-store {
	color: #938c83;
	line-height: 1.5em;
	padding: 10px 0;
	display: block;;
}
.pro-list ul li .index-pro-price {
	color: #b83400;
	font-size: 18px;
	padding: 0 0 10px 0;
	display: block;
}
.pro-list ul li a.cart {
	padding: 3px;
	color: #7E7E7E;
	font-size: 15px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #DCDCDC solid;
}
.pro-list ul li a.cart img {
	padding-right: 20px;
	vertical-align: middle;
}
.pro-list ul li a.cart:hover {
	background: #fff;
	border: 1px #eee solid;
}

.pro-detaile {
	padding-left: 30px;
}
h3.pro-detaile-title {
	border-bottom: 1px #CCC dotted;
	font-size: 18px;
	color: #333;
	line-height: 30px;
	margin-bottom: 18px;
	padding-bottom: 5px;
	font-weight: normal;
	margin: 0;
}
.pro-detaile .pro-photo {
	background: #fff;
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
}
.pro-detaile .pro-photo img {
	width: 100%;
	height: auto;
}
.pro-specification {
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
	position: relative;
	margin-bottom: 10px;
}
.pro-specification p {
	margin: }
	.pro-content { padding: 0px 0;
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
	clear: both;
}
.pro-content p.spec {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
}

h3.pro-introduce {
	font-weight: normal;
	border: 1px #CCC dotted;
	border-left: 5px #888 solid;
	padding: 5px 0 5px 15px;
	font-size: 18px;
	color: #333;
}
.pro-qr-code {
}
.pro-qr-code img {
	width: 100px;
	height: auto;
}
.cart-info {
	vertical-align: middle;
}
.cart-info .price {
	font-size: 28px;
	font-weight: bold;
	color: #F00;
	vertical-align: middle;
	display: block;
}
.cart-info .quantity {
	font-size: 16px;
	color: #333;
	vertical-align: middle;
	display: block;
	text-align: right;
	padding: 10px 0;
	line-height: 30px;
}
.cart-info .quantity select {
	line-height: 25px;
}
.check-out {
	text-align: center;
	vertical-align: middle;
	display: block;
}
.check-out a {
	display: block;
	vertical-align: middle;
	font-size: 13px;
	min-width: 130px;
	color: #333;
	padding: 5px 10px;
	margin: 10px 0;
	text-shadow: -1px -1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FFF;
	border: 1px #D4D4D4 solid;
}

.check-out a:hover {
	background: #D4D4D4;
	text-shadow: -1px -1px 0 #A2A2A2;
	color: #333;
}
.check-out a img {
	vertical-align: middle;
	margin-right: 10px;
}
.cart-btn {
	padding: 15px 0 10px 0;
	text-align: center;
	margin-top: 15px;
	border-top: 1px #CCC dotted;
}

/**** 產明細圖片特效樣式 ****/
.slider-wrap {
	width: 100%;
}
.stripViewer .panelContainer {
	width: 400% !important;
}
.stripViewer .panelContainer  .panel ul {
	text-align: left;
	margin: 0 15px 0 30px;
	width: 100%
}
.stripViewer {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
}
.stripViewer .panelContainer {
	position: relative;
	left: 0;
	top: 0;
	width: 400%;
}
.stripViewer .panelContainer .wrapper {
	width: 100%;
}
.stripViewer .panelContainer img {
	width: 100%;
	height: auto;
}
.stripViewer .panelContainer .panel {
	float: left;
	position: relative;
}
.stripNavL, .stripNavR, .stripNav {
	display: none;
	width: 100%;
}
.nav-thumb {
	margin-right: 5px;
}
#movers-row {
	margin: 5px 0 0 0;
	width: 101%;
}
#movers-row div {
	width: 25%;
	float: left;
	padding-right: 1%;
}
#movers-row div a.cross-link {
	float: right;
}
.photo-meta-data {
	background: url(/html/ezcatfiles/myweb62/img/img/60175/transpBlack.png);
	padding: 10px;
	height: 30px;
	margin-top: -50px;
	position: relative;
	z-index: 9999;
	color: white;
}
.photo-meta-data span {
	font-size: 13px;
}
.cross-link {
	display: block;
	margin-top: 0px;
	position: relative;
	padding-top: 0px;
}
.active-thumb {
	background: transparent url(/html/ezcatfiles/myweb62/img/img/60175/icon-uparrowsmallwhite.png) top center no-repeat;
}
.panel {
	width: 25%;
}/**四張圖 乘 四分之一 **/

/*****  聯絡我們  *****/
.contact-body {
	padding: 0 0 0 27px;
}
.contact-note {
	padding: 10px 0;
	font-size: 13px;
	color: #F00;
	margin-bottom: 15px;
}
.contact-left {
}
.contact-left img {
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.btn-send {
	font-size: 13px;
}
a.btn-send {
	background: #999;
	padding: 3px 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	width: 100px;
	margin: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
a.btn-send:hover {
	background: #B88283;
}
a.btn-reset {
	background: #666;
	padding: 3px 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	width: 100px;
	margin: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
a.btn-reset:hover {
	background: #777;
}

a.btn-send-over {
	background: #79919F;
	padding: 3px 20px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	width: 100px;
	margin: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
a.btn-send-over:hover {
	background: #63AEBD;
}

img.code {
	width: 100px;
	height: 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 5px;
	vertical-align: middle;
}

/*****  FAQ  *****/
.faq {
}
.faq ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.faq ul li {
	border-bottom: 1px #fff solid;
}
.faq ul li .qa_title {
	background: #DDDCD7;
	font-weight: normal;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-left: 8px #333 solid;
}
.faq ul li a {
	color: #333;
	font-size: 15px;
	display: block;
	padding: 10px 0 10px 10px;
	text-shadow: 1px 1px 0 #fff;
}
.faq ul li a:hover {
	background: #C5C4B7;
	color: #fff;
	text-shadow: -1px -1px 0 #666;
}
.faq ul li .qa_content {
	border-top: 1px #CCC dotted;
	padding: 10px 0 20px 25px;
	font-size: 13px;
	line-height: 1.5em;
	color: #666;
}

/*****  最新消息  *****/
.news {
	padding: 0 1%;
	margin-bottom: 30px;
	color: #666;
}
.news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.news .news-title {
	font-size: 18px;
	font-weight: normal;
	color: #000;
}

.opacl {
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 10px;
}
.opacl a {
	background: #888888;
	color: #fff;
	padding: 3px 10px;
	margin: 0 5px;
	-webkit-border-radius: 5px 5px 0 0px;
	-moz-border-radius: 5px 5px 0 0px;
	border-radius: 5px 5px 0 0px;
}
.opacl a:hover {
	background: #699;
}
a.close_qa {
	font-size: 12px;
}
#qaContent {
}
.accordionPart {
}

/*** news-list  最新消息 ***/
.news-list {
	list-style: none;
}
.news-list li {
	clear: both;
	border-bottom: 1px #E3E3E3 dotted;
}
.news-list li span {
	float: left;
	width: 110px;
	line-height: 25px;
	display: block;
	padding: 7px 0 7px 10px;
	color: #A6A6A6;
}
.news-list li .news-lis-cont {
	margin: 0 0 0 110px;
	padding: 7px 0;
}
.news-list li .news-lis-cont a {
	color: #333;
	display: block;
}
.news-list li .news-lis-cont a:hover {
	color: #5C97BD;
}
.time {
	color: #3CA3D5;
	padding: 10px 0 10px 10px;
	border-bottom: 1px #D7D7D7 dotted;
}

/*****  內頁架構  *****/
.content-body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px 0 50px 0;
}
.page-title {
	background: url(../images/page-title.png) no-repeat;
	min-height: 36px;
	max-width: 1000px;
	position: relative;
	margin: 15px auto;
}
.page-title:after {
	content: '';
	position: absolute;
	right: 0px;
	left: 0;
	bottom: 20px;
	border-bottom: #999 1px solid;
	z-index: 1;
	font-weight: normal;
}

.page-title .cn {
	background: url(../images/page-title.png) #FFF no-repeat 2px 6px;
	font-size: 22px;
	color: #555;
	font-weight: normal;
	line-height: 1.4;
	float: left;
	color: #303244;
	vertical-align: middle;
	position: relative;
	padding: 0 10px 0 28px;
	z-index: 2;
}

.page-main {
	padding: 0 2%;
	font-size: 15px;
	color: #555;
	line-height: 1.6em;
	min-height: 200px;
}
.page-main img {
	margin: 5px 10px;
}

.left-menu-title {
	background: #909090;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-shadow: -1px -1px 0px #666;
	padding: 5px 0 10px 0;
	border-top: 1px #999 dotted;
	-webkit-border-radius: 0 0 5px 0px;
	-moz-border-radius: 0 0 5px 0px;
	border-radius: 0 0 5px 0px;
}

.in-left-menu {
	padding: 0 0 20px 0;
	margin: 0 1% 0 0;
}
.in-left-menu > ul {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	list-style: none;
	border-top: 3px #999 solid;
	border-bottom: 1px #CCC dotted;
}
.in-left-menu > ul > li {
	background: #DDD;
	font-size: 15px;
	color: #666;
	padding: 0;
}
.in-left-menu > ul > li > a {
	background: url(../images/left-icon.png) no-repeat 5px 7px;
	color: #333;
	display: block;
	padding: 5px 0 5px 22px;
	line-height: 1.5em;
}
.in-left-menu > ul > li > a:hover {
	background: url(../images/left-icon.png) no-repeat 5px 7px #CCC;
}

.in-left-menu > ul > li ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.in-left-menu > ul > li ul li {
	background: #FFF;
	border-top: 1px #CCC dotted;
	padding: 5px 0 5px 22px;
}
.in-left-menu > ul > li ul li:hover {
	background: #F4F4F4;
}
.in-left-menu > ul > li ul li a {
	font-size: 13px;
	color: #666;
	display: block;
}
.in-left-menu > ul > li ul li a:hover {
	color: #426bb0;
}

/** 左側選單樣式2 **/
.in-left-menu-02 {
	padding: 0 0 20px 0;
	margin: 0 1% 0 0;
}
.in-left-menu-02 > ul {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	list-style: none;
	border-top: 3px #999 solid;
	border-bottom: 1px #CCC dotted;
}
.in-left-menu-02 > ul > li {
	font-size: 15px;
	color: #666;
	padding: 0;
	border-bottom: 1px #CCC dotted;
}
.in-left-menu-02 > ul > li > a {
	background: url(../images/left-icon.png) no-repeat 5px 7px;
	color: #333;
	display: block;
	padding: 5px 0 5px 25px;
	line-height: 1.5em;
}
.in-left-menu-02 > ul > li > a:hover {
	background: url(../images/left-icon.png) no-repeat 5px 7px #EEE;
}

/** 左側選單樣式3 **/
.in-left-menu-03 {
	padding: 0 0 20px 0;
	margin: 0 1% 0 0;
}
.in-left-menu-03 > ul {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	list-style: none;
	border-top: 3px #999 solid;
	border-bottom: 1px #CCC dotted;
}
.in-left-menu-03 > ul > li {
	background: #DDD;
	font-size: 15px;
	color: #666;
	padding: 0;
}
.in-left-menu-03 > ul > li > a {
	background: url(../images/left-icon.png) no-repeat 5px 7px;
	color: #333;
	display: block;
	padding: 5px 0 5px 22px;
	line-height: 1.5em;
}
.in-left-menu-03 > ul > li > a:hover {
	background: url(../images/left-icon.png) no-repeat 5px 7px #CCC;
}

.in-left-menu-03 > ul > li > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.in-left-menu-03 > ul > li > ul > li {
	background: #FFF;
	color: #000;
	padding: 5px 0 5px 10px;
	font-weight: bold;
}
.in-left-menu-03 > ul > li > ul > li:hover {
}
.in-left-menu-03 > ul > li > ul > li hr {
	border: 0;
	border-bottom: 2px solid #999;
}

.in-left-menu-03 > ul > li > ul > li a {
	font-size: 15px;
	color: #666;
	display: block;
}
.in-left-menu-03 > ul > li > ul > li a:hover {
	color: #426bb0;
}

.in-left-menu-03 > ul > li > ul > li > ul {
	background: #FFF;
	padding: 5px 0 5px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	border-top: 2px solid #CCC;
	margin: 3px 0 0 -10px;
}
.in-left-menu-03 > ul > li > ul > li > ul > li {
	background: #FFF;
	padding: 0;
	margin-top: 3px;
}
.in-left-menu-03 > ul > li > ul > li > ul > li a {
	font-size: 14px;
	color: #666;
	display: block;
	font-weight: normal;
	border-bottom: 1px dotted #CCC;
	padding-left: 22px;
}
.in-left-menu-03 > ul > li > ul > li > ul > li a:hover {
	color: #900;
}

/*****  內頁BANNER  *****/
.inside-banner {
	background: url(../images/inside-bg.jpg) no-repeat top center;
	padding: 15px 0;
	border-radius: 20px;
}
.inside-banner .banner-title {
	max-width: 1000px;
	font-size: 26px;
	color: #fff;
	margin: 0 auto;
	padding: 0;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 2px #666;
}

/*****  首頁產品  *****/
.index-pro {
	max-width: 1000px;
	margin: 0 auto;
}
.index-pro-title {
	font-size: 24px;
	color: #333;
	line-height: 30px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: normal;
	border-bottom: 3px #DFDFDF solid;
}
.index-pro ul {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.index-pro ul li {
	width: 20%;
	padding: 1%;
	text-align: center;
	float: left;
}
.index-pro ul li:hover {
	background: #f8f6f6;
}
.index-pro ul li h4 {
	font-size: 15px;
	color: #504f4d;
	line-height: 1.5em;
	font-weight: normal;
	padding: 5px 0 5px 0;
	margin: 0;
}

.index-pro ul li .index-pro-store {
	color: #938c83;
	line-height: 1.5em;
	padding: 10px 0;
	display: block;
}
.index-pro ul li .index-pro-price {
	color: #b83400;
	font-size: 18px;
	padding: 0 0 10px 0;
	display: block;
}
.index-pro ul li a.cart {
	padding: 8px;
	color: #333;
	font-size: 15px;
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px #DBDBDB solid;
}
.index-pro ul li a.cart img {
	padding-right: 20px;
	vertical-align: middle;
}
.index-pro ul li a.cart:hover {
	background: #EDEDED;
}
.index-more {
	max-width: 1000px;
	border-top: 1px #dad0d0 solid;
	margin: 50px auto 0 auto;
	height: 50px;
	position: relative;
}
.index-more a {
	background: url(../images/index-more-pro.png) no-repeat;
	color: #a7a7a7;
	width: 132px;
	height: 36px;
	display: block;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -66px;
}

/*****  首頁連結  *****/
.index-link {
	max-width: 1000px;
	margin: 0 auto;
}
.index-link h3 {
	color: #333;
	font-size: 36px;
	font-weight: normal;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: 2px;
}
.index-link h3 .red {
	color: #d45500;
	font-size: 24px;
	letter-spacing: 0px;
}
.index-link h3 .brwon {
	color: #c2ab8a;
	font-size: 24px;
	padding-left: 15px;
	letter-spacing: 0px;
}

.index-link-top {
	height: 75px;
}

.index-link ul {
	background: #e1e1e1;
	margin: 0;
	padding: 0;
	list-style: none;
}
.index-link ul li {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	border: 1px #fff dotted;
}
.index-link ul li img {
	width: 100%;
	height: auto;
	border: 0;
	margin: 0;
	padding: 0;
}

/*****  首頁 搜尋 最新消息模組  *****/
.index-news {
	width: 100%;
	position: relative;
}
.index-news-line {
	position: absolute;
	width: 100%;
	border-bottom: 1px #d1d1d1 solid;
	top: 50px;
	z-index: -1;
}

.index-search-news {
	max-width: 1000px;
	margin: 0 auto;
}
.index-search {
}
.index-search h3 {
	font-size: 24px;
	color: #333;
	font-weight: normal;
	line-height: 40px;
	margin: 10px 0 10px 0;
	padding: 0;
}
.index-search span {
	display: block;
	float: right;
	font-size: 15px;
	color: #d1d1d1;
	font-weight: normal;
}
.index-search-input {
	padding: 10px 0 20px 0;
	position: relative;
	color: #333;
}
.index-search-input img {
	position: absolute;
	right: 0;
	top: 10px;
}
.index-search input {
	background: #e8d5d5;
	font-size: 15px;
	color: #333;
	padding: 5px 0 5px 20px;
	line-height: 21px;
	width: 100%;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border: 0;
	margin: 0 5% 0 0;
	right: 51px;
	vertical-align: middle;
}
.index-search img {
	vertical-align: middle;
}

.i-news {
	padding-left: 50px;
}
.i-news h3 {
	font-size: 24px;
	color: #333;
	font-weight: normal;
	line-height: 40px;
	margin: 10px 0 10px 0;
	padding: 0;
}
.i-news h3 span {
	display: block;
	float: right;
	font-size: 14px;
	color: #afaaaa;
	font-weight: normal;
}
.i-news h3 span a {
	color: #333;
}
.i-news h3 span a:hover {
	color: #12A8D5;
}
.i-news ul {
	list-style: square;
	color: #333;
	padding: 0 0 0 20px;
	margin: 0;
}
.i-news ul li {
	padding: 5px 0;
	font-size: 15px;
	line-height: 1.5em;
	border-bottom: 1px #E7E7E7 solid;
}
.i-news ul li a {
	color: #333;
	display: block;
}
.i-news ul li a:hover {
	color: #F96;
}

/***  報告區列表  ***/
.report-list {
}
.report-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.report-list ul li {
	background: url(../images/report-list-bg.jpg) no-repeat top right;
	border: 1px solid #EEE;
	margin-bottom: 5px;
	padding: 8px 40px 8px 8px;
	position: relative;
}
.report-list ul li::after {
	display: block;
	content: "";
	width: 35px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;no-repeat 0 30%;
	padding: 5px 0;
}
.report-list ul li .icon-read {
	position: absolute;
	right: -8px;
	top: 50%;
	margin-top: -21px;
	z-index: 100;
}
.report-list ul li a {
	color: #333;
}
.report-list ul li a:hover {
	color: #900;
}

/***  會員登入  ***/
h3.login-title {
	margin: 10px 0 10px 0;
	font-family: "Times New Roman";
	font-size: 30px;
	line-height: 30px;
	color: #9B9B9B;
}
.login-tool {
}
.icon-tool {
	width: 40px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.member-signup {
	font-size: 14px;
	color: #828282;
	line-height: 20px;
	padding: 5px 0;
	text-align: center;
}
.calender {
	width: 30px;
	height: auto;
}

/***  版面欄位  ***/
.main {
	padding-top: 0px;
}
.col-100 {
	float: left;
	width: 100%;
}
.col-010 {
	width: 9%;
	margin-right: 1%;
	float: left;
}
.col-015 {
	width: 14%;
	margin-right: 1%;
	float: left;
}
.col-020 {
	width: 19%;
	margin-right: 1%;
	float: left;
}
.col-025 {
	width: 24%;
	margin-right: 1%;
	float: left;
}
.col-030 {
	width: 29%;
	margin-right: 1%;
	float: left;
}
.col-040 {
	width: 39%;
	margin-right: 1%;
	float: left;
}
.col-045 {
	width: 44%;
	margin-right: 1%;
	float: left;
}
.col-050 {
	width: 49%;
	margin-right: 1%;
	float: left;
}
.col-055 {
	width: 54%;
	margin-right: 1%;
	float: left;
}
.col-060 {
	width: 59%;
	margin-right: 1%;
	float: left;
}
.col-065 {
	width: 64%;
	margin-right: 1%;
	float: left;
}
.col-070 {
	width: 69%;
	margin-right: 1%;
	float: left;
}
.col-075 {
	width: 74%;
	margin-right: 1%;
	float: left;
}
.col-080 {
	width: 79%;
	margin-right: 1%;
	float: left;
}
.col-085 {
	width: 84%;
	margin-right: 1%;
	float: left;
}

.cor-010 {
	width: 10%;
	float: left;
}
.cor-015 {
	width: 15%;
	float: left;
}
.cor-020 {
	width: 20%;
	float: left;
}
.cor-025 {
	width: 25%;
	float: left;
}
.cor-030 {
	width: 30%;
	float: left;
}
.cor-035 {
	width: 35%;
	float: left;
}
.cor-040 {
	width: 40%;
	float: left;
}
.cor-045 {
	width: 45%;
	float: left;
}
.cor-050 {
	width: 50%;
	float: left;
}
.cor-055 {
	width: 55%;
	float: left;
}
.cor-060 {
	width: 60%;
	float: left;
}
.cor-065 {
	width: 55%;
	float: left;
}
.cor-070 {
	width: 70%;
	float: left;
}
.cor-075 {
	width: 75%;
	float: right;
}

/*** 訂位填寫  ***/
.show-date {
	background: #14A1F0;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
	line-height: 25px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.show-date a {
	color: #D0FF00;
	text-decoration: none;
}
.show-date a:hover {
	color: #F0FF9B;
}
.kyein-be-member {
	background: #FF1115;
	padding: 5px 10px;
	font-size: 14px;
	color: #FFDADA;
	line-height: 25px;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*** 訂位區塊  ***/
.info-box {
	font-size: 14px;
	color: #686868;
	line-height: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
h4.info-title {
	background: #FFEDED;
	font-size: 17px;
	line-height: 30px;
	color: #AD3A3C;
	padding: 0 0 0 10px;
	margin: 5px 0px 10px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
}
.info-content {
	padding: 0 0 10px 20px;
}
.info-content ul {
	list-style: square;
	margin: 0 0 0 0px;
	padding: 0 0 0 20px;
}
.info-content ul li {
	border-bottom: 1px #BFBFBF dotted;
	margin-bottom: 10px;
	color: #A41C1F;
}
.info-content ul li p {
	font-size: 12px;
	color: #767676;
	margin: 0 0 10px 0;
	padding: 0;
}
h5.info-set-opint {
	color: #69B7FF;
	font-size: 15px;
	line-height: 25px;
	border-bottom: 1px #D9D9D9 solid;
	margin: 0 0 10px 0;
}

/***  step  ***/
.step {
	list-style: none;
	margin: 0;
	padding: 20px 0;
}
.step li {
	float: left;
	width: 25%;
	font-size: 28px;
	line-height: 1.2em;
	color: #D9D9D9;
	border-left: 1px #D9D9D9 solid;
	padding: 0px 0;
	text-align: center;
}
.step li.active, .step li.active span {
	color: #0091ED;
}
.step li span {
	color: #7F7F7F;
	display: block;
	font-size: 15px;
	line-height: 18px;
	padding: 5px 0 0 0px;
	border-top: 1px #DBD8D8 dotted;
	margin: 10px auto 0 auto;
	width: 80%;
}

/***  定位-選項-時段  ***/
.order-opinion {
	padding: 0 0 10px 0;
}

.time {
	font-size: 14px;
	color: #7E7E7E;
	line-height: 20px;
}
.time ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.time ul li {
	background: #FF5558;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #fff;
	line-height: 20px;
	padding: 3px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 1% 1% 0 0;
	width: 11.5%;
}
.time ul li a {
	color: #fff;
}
.time ul li:hover {
	background: #D30003;
}
.time ul li.finish {
	background: #D3D2D2;
}
.time ul li span {
	display: block;
	border-top: 1px #FFB6B7 solid;
	line-height: 20px;
}

.order-note {
	color: #DF0205;
	padding: 10px 0;
}

/***  歷史訂單  ***/
.table-border {
	background: #DBDBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.table-border th {
	font-size: 14px;
	color: #fff;
	padding: 3px 5px;
}
.table-border td {
	font-size: 14px;
	color: #515151;
	padding: 3px 5px;
	text-align: center;
}

.table-border tr:first-child {
	background: #FF6700;
	font: 12px;
	padding: 3px 5px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.table-border tr:last-child {
	background: #FFF;
	font: 12px;
	padding: 3px 5px;
	-webkit-border-radius: 0 0px 5px 5px;
	-moz-border-radius: 0 0px 5px 5px;
	border-radius: 0 0px 5px 5px;
}
.table-border tr:nth-child(2n) {
	background: #FFF;
}
.table-border tr:nth-child(2n+3) {
	background: #FFFBF0;
}

/***  表單欄位  ***/
.form-box {
	min-width: 280px;
}
.form-box input, .form-box img {
	vertical-align: middle;
}
.form-style01 {
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	padding: 5px 0 10px 0;
	line-height: 20px;
	width: 100%;
}

.opinion {
	margin-bottom: 10px;
}
.opinion-left01 {
	background: #fff;
	float: left;
	width: 30%;
	border: 1px #CBCBCB solid;
	border-right: 0;
	padding: 8px 3%;
	font-size: 15px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	line-height: 20px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.opinion-right01 {
	float: left;
	width: 7.5%;
	border: 1px #CBCBCB solid;
	padding: 0px 2%;
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	line-height: 20px;
	border-left: 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.input-main-style01 {
	float: left;
	width: 55%;
	border: 1px #CBCBCB solid;
	margin: 0;
	padding: 5px 3%;
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	line-height: 20px;
}

.input-main-style02 {
	background: #fff;
	float: left;
	width: 70%;
	border: 1px #CBCBCB solid;
	margin: 0;
	padding: 8px 3%;
	font-size: 15px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	line-height: 20px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.input-main-style03 {
	float: left;
	width: 93.3333%;
	border: 1px #CBCBCB solid;
	margin: 0;
	padding: 5px 3%;
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	line-height: 20px;
	text-align: center;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.select-style {
	font-size: 15px;
	color: #666;
	line-height: 20px;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.order-numb {
	color: #FF0004;
}

/***  輸入欄位  ***/

input {
}
.input-style01 {
	border: 1px #CBCBCB solid;
	padding: 5px 3%;
	line-height: 20px;
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 5px;
	-moz-box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Firefox3.6+ */
	-webkit-box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Chrome5+, Safari5+ */
	box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Latest Opera */
}

.input-botton01 {
	border: 1px #CBCBCB solid;
	padding: 5px 3%;
	line-height: 18px;
	font-size: 13px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	width: 100px;
	margin: 0 auto;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	text-shadow: 1px 0px #fff;
	font-weight: 800;
}

.select-style01 {
	border: 1px #CBCBCB solid;
	padding: 5px 3%;
	width: 99%;
	line-height: 20px;
	font-size: 14px;
	font-family: "微軟正黑體";
	color: #4E4E4E;
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Firefox3.6+ */
	-webkit-box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Chrome5+, Safari5+ */
	box-shadow: 0px 0px 5px #E9E9E9 inset; /* For Latest Opera */
}

.input-botton-blue {
	background: #feffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2UyZmVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWVkZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #feffff 0%, #e2feff 35%, #9eede6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#e2feff), color-stop(100%,#9eede6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #feffff 0%,#e2feff 35%,#9eede6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9eede6',GradientType=0 ); /* IE6-8 */
}

.bg-gary-whrite {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.06) 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,0.06))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.06) 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0f000000',GradientType=0 ); /* IE6-9 */
}

.bg-red-orange {
	background: rgb(248,80,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

/* 頁次 */
.page {
	height: 40px;
	font: 13px/40px "微軟正黑體";
	color: #333;
	text-align: center;
	clear: both;
	margin-top: 10px;
}
.page a {
	background: #838282;
	color: #fff;
	padding: 2px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.page a:hover {
	background: #A09D9D;
	color: #fff;
}
.page br {
	display: none;
}


/*友情链接*/
.friendlylink h3 {
	background: #eee;
	background-color: #eee2;
	text-shadow: 0 1px 0 #bbb, 0 2px 0 #bbb, 0 3px 0 #aaa, 0 4px 0 #aaa, 0 5px 0 #999, 0 6px 1px #000, 0 0px 3px #000, 0 1px 3px #000, 0 3px 5px #000, 0 5px 10px #000, 0 5px 20px #000;
	max-width: 1000px;
	margin: 0 auto;
}
/**友情链接**/
.i-link {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #eee;
}
.i-link ul {
	border: solid 1px #eee;
	list-style: none;
	padding: 0;
	margin: 0;
}
.i-link ul li {
	float: left;
	width: 15%;
	margin: 1%;
	padding: 0;
}
.i-link ul li img {
	width: 100%;
	border-radius: 5px;
}

/******  底部資訊  ******/

footer {
/**	background: #a1a1a1;**/
	padding-bottom: 40px;
}
footer .footer {
/*	background: #A1A1A1;*/
	max-width: 1000px;
	margin: 0 auto;
	height: 75px;
}
footer .footer-logo {
	float: left;
	width: 306px;
	padding: 25px 0 0 0;
	margin: 0 7.5% 0 0;
}

footer .footer-right {
	float: left;
	width: 51%;
	margin: 0;
	padding: 11px 0 0 0;
}
footer .footer-right .f-menu {
	color: #666;
	font-size: 13px;
	letter-spacing: 1.7px;
}
footer .footer-right .f-menu a {
	color: #666;
}
footer .footer-right .f-menu a:hover {
	color: #666;
}
footer .footer-right .information {
	font-size: 13px;
	color: #666;
}

